body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    color: #333;
}

h1 {
    font-size: 2rem;
    color: white;
    font-weight: 600;
    padding: .75rem 0;
}

#header-bar {
    background-color: #333;
    text-align: center;
}

table {
    background-color: #9fd8cbd6;
    font-weight: 100;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0.3rem;
    border: 2px solid #333;
    font-size: .8rem;
    line-height: 1.7rem;
    word-spacing: 0.5rem;
    margin: 1%;
}

th {
    border-bottom: 2px solid #333;
}

#data-container {
    display: flex;
    align-content: center;
    padding: 1rem;
    margin: 3%;
    width: 80%;
    flex-wrap: wrap;
}

#svg {
    position: absolute;
    top: 0;
    z-index: -100;
    width: 100%;
    height: 200%;
}

line {
    stroke: rgb(0, 0, 0);
    stroke-width: 3;
    /* stroke-dasharray: 20,10,5,5,5,10; */
}