body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    color: #333;
}

h1 {
    font-size: 3rem;
    color: white;
    font-weight: 600;
    padding-top: .75rem;
}

#header-bar {
    background-color: #333;
    text-align: center;
    height: 5rem;
    margin-bottom: 1rem;
}

tr {
    margin-top: 15px;
    margin-bottom: 15px;
}

table {
    background-color: #9fd8cbd6;
    font-weight: 100;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 0.8rem;
    border: 2px solid #333;
    font-size: 1.10rem;
    min-width: 23%;
    line-height: 1.7rem;
    word-spacing: 0.5rem;
    margin: 1%;
}

th {
    border-bottom: 2px solid #333;
}

#data-container {
    display: flex;
    align-content: center;
    padding: 1rem;
    margin: auto;
    width: 85%;
    flex-wrap: wrap;
}